@{
  Layout = "_Layout";
}
@model List<Factory.Models.Machine>;
<div class="container card">
    <h2>Delete all Machines?</h2>

    @using (Html.BeginForm())
    {
        <button class="btn btn-primary" type="submit" value="DeleteAll">YES</button>
    }

    <p>@Html.ActionLink("Machine List", "Index")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>