@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="container card">
    <h2>Delete This Machine?</h2>

    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Engineer List", "Index")
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>