@{
  Layout = "_Layout";
}
@model List<Factory.Models.Machine>;
<div class="container card">
    <h1>Delete all Machines?</h1>
    <hr>
    @using (Html.BeginForm())
    {
        <button class="btn btn-warning" type="submit" value="DeleteAll">YES</button>
    }
    <hr>
    <br>
    <input class="btn btn-info" type="button" value="Machine List" onclick='location.href="@Url.Action("Index", "Machines")";' />
    <input class="btn btn-info" type="button" value="Home" onclick='location.href="@Url.Action("Index", "Home")";' />
</div>