@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer
<div class="container card">
    <h1>Add New Engineer</h1>

    @using (Html.BeginForm())
    {
        <p>Engineer Name: @Html.TextBoxFor(model => model.EngineerName)</p>
        
        <input class="btn btn-warning" type="submit" value="Add new engineer" />
    }
<br>
    <input class="btn btn-info" type="button" value="Engineer List" onclick='location.href="@Url.Action("Index", "Engineers")";' />
    <input class="btn btn-info" type="button" value="Home" onclick='location.href="@Url.Action("Index", "Home")";' />
</div>
