@{
  Layout = "_Layout";
}
@model List<Factory.Models.Engineer>;
<div class="container card">
    <h2>Delete all Engineers?</h2>

    @using (Html.BeginForm())
    {
        <button class="btn btn-primary" type="submit" value="DeleteAll">YES</button>
    }

    <p>@Html.ActionLink("Engineer List", "Index")</p>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>