@{
  Layout = "_Layout";
}
<div class="container card">
<h1>W E L C O M E</h1>

  <h4>@Html.ActionLink("Engineers List", "Index", "Engineers")</h4>
  <h4>@Html.ActionLink("Machines LIst", "Index", "Machines")</h4>
</div>